@import './styles/variables';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color; 
  color: $text-color;
  margin: 0; 
  padding: 0; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
